@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600,600i,700,800,800i,900&display=swap');

/* Heading */

.header,
.footer {
	background-color: #4527a0;
}

.header h1 {
	color: white;
	font-family: ('Montserrat', 800);
	text-align: center;
	padding-bottom: 10px;
    font-size: 40px;
}


/* Footer */

.footer p {
	color: white;
	font-family: ('Montserrat', 400);
	text-align: center;
	padding-top: 10px;
}


/* Body */

#subtitle p {
	text-align: center;
	font-family: ("Montserrat", 500i);
	padding-top: 20px;
    font-size: 30px;
}


/* Form */

.form-group {
	font-family: ("Montserrat", 600);
	margin-right: 20px;
	margin-left: 20px;
    font-size: 20px;
    display: inline-block;
  width: 25%;
}

.search-button {
	margin-left: 20px;
	margin-bottom: 20px;
    background-color: #4527a0;
}

.search-button:hover {
    background-color: #2e7d32;
}



/* Map */

#map {
	min-height: 500px;
}


/* Results */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 300px;
  margin: 20px;
}

.container {
    padding: 2px 16px;
}

/*#search-results {
	padding: 25px;
	color: #000000;
	font-size: 15px;
}

#search-results #number {
	font-weight: bold;
}*/

#search-results #summary {
	font-style: italic;
	padding-right: 10px;
	padding-left: 10px;
    overflow-wrap: break-word;
}


/* Legend */

#legend {
	text-align: center;

}