@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

/* Heading */

.header,
.footer {
	background-color: #8d73dd;
}

.header h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	padding-bottom: 10px;
	font-size: 40px;
}


/* Footer */

.footer p {
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 10px;
}


/* Body */

#subtitle h5 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding-top: 20px;
	font-size: 30px;
}


/* Form */

#form {
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.form-group {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 20px;
	display: inline-block;
	width: 25%;
}

.search-button {
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #4527a0;
}

.search-button:hover {
	background-color: #2e7d32;
}


/* Map */

#map {
	min-height: 500px;
}


/* Results */

#search-results {
	text-align: center;
}


/* Code used from W3 Schools website*/

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	max-width: 300px;
	margin: 20px;
	display: inline-block;
}

.card img {
	max-height: 200px;
	border: 1px solid #2e7d32;
}


/*End of borrowed code*/

.container {
	padding: 2px 16px;
}

.results-container {
	display: flex;
}

#search-results #summary {
	font-style: italic;
	overflow-wrap: break-word;
}


/* Legend */

#legend {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}


/* Media Queries */

@media(max-width: 600px) {
	#subtitle p {
		padding-top: 10px;
		font-size: 20px;
	}
	.form-group {
		font-size: 15px;
		display: inline;
	}
	.search-button {
		margin-top: 10px;
	}
	#map {
		min-height: 300px;
	}
	#legend {
		padding-top: 20px;
	}
}